[Config]

resolution=Vector2(1600, 900)
scr_pos=Vector2(0, 0)
;;window_mode=2
window_mode=4
initscreen=1
SFXV=100
MUSICV=100
AMBIENCEV=100
langChoice="Eng"
scrollSens=0.06
cursorSize=1
saveSlot=1

[firstIntro]

first=true

[firstIntroLang]

first=false
